@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  position: relative;
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100dvh;
  min-height: 870px;
  width: 100%;
}

.destination {
  position: relative;
  background-image: url("./assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100dvh;
  min-height: 870px;
  width: 100%;
}

.crew {
  position: relative;
  background-image: url("./assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100dvh;
  min-height: 870px;
  width: 100%;
}

.tech {
  position: relative;
  background-image: url("./assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 100dvh;
  min-height: 870px;
  width: 100%;
}

.nav {
  height: inherit;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.24);
}

.nav::before {
  position: absolute;
  right: 700px;
  content: "";
  display: block;
  width: 100%;
  max-width: 400px;
  height: 1px;
  background-color: white;
  z-index: 20;
}

.item-line {
  position: relative;
  margin-bottom: 10px;
}

.item-line::after {
  position: absolute;
  content: "";
  display: block;
  margin-top: 44px;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: white;
}

.animation {
  animation: animationEarth 35s infinite linear 8ms;
}

.botton::after {
  position: absolute;
  top: 47px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
}

.nav-hover:hover::after {
  position: absolute;
  top: 47px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
}

.botton-des::after {
  position: absolute;
  top: 28px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
}
.clip {
  clip-path: circle(50% at 50% 50%);
  background-image: linear-gradient(to top right, #243949 0%, #6c98bb 100%);
}
@keyframes animationEarth {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (width > 640px) and (width <= 1085px) {
  .home {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }

  .destination {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }

  .crew {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }

  .tech {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
  }

  .div-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .item-line {
    margin-bottom: 0px;
  }

  .item-line::after {
    display: none;
    margin-top: 0;
    height: 0;
    width: 0;
  }
  .nav::before {
    display: none;
    width: 0;
    height: 0;
  }
}

@media screen and (width < 640px) {
  .home {
    background-image: url("./assets/home/background-home-mobile.jpg");
  }

  .tech {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
  }
  .destination {
    background-image: url("./assets/destination/background-destination-mobile.jpg");
  }

  .crew {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    flex-direction: column;
    gap: 15px;
    transition: ease-in-out 1.5s;
  }
  .item-line::after {
    display: none;
    margin-top: 0;
    height: 0;
    width: 0;
  }
  .nav::before {
    display: none;
    width: 0;
    height: 0;
  }

  .open {
    transform: unset;
  }

  .close {
    transform: translateX(500px);
    transition: 1s;
  }

  .botton::after {
    top: 30px;
  }
}
